<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <% if task.completed %>
      <li><input type="checkbox" name="checked" checked> <%= link_to task.title, task_path(task) %> <%= link_to "Delete this task", task_path(task), method: :delete %></li>
    <% else %>
      <li><input type="checkbox" name="checked"> <%= link_to task.title, task_path(task) %> <%= link_to "Delete this task", task_path(task), method: :delete, data: { confirm: "Sure ?!" } %></li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Add a new task", new_task_path %>
